.cm-header-1, .markdown-preview-view h1 {
  color: navy;
}
.cm-header-2, .markdown-preview-view h2 {
  color: darkblue;
}
.cm-header-3, .markdown-preview-view h4 {
  color: DarkSlateBlue;
}
.cm-header-4, .markdown-preview-view h4 {
  color: MidnightBlue;
}

.markdown-preview-view code {
  color: darkblue;
}
