.cm-header-1, .markdown-preview-view h1 {
  color: darkblue;
}
.cm-header-2, .markdown-preview-view h2 {
  color: darkblue;
}
.cm-header-3, .markdown-preview-view h4 {
  color: lightblue;
}
.cm-header-4, .markdown-preview-view h4 {
  color: blue;
}
